
#s {
    text-align: center;
    text-decoration: none;
    color: black;
    
}

#mon {
    font-family: Courier, monospace;
    letter-spacing: 10px;
    font-size: 50px;
    background-color: #c8a2c8;
    border-radius: 50px;
}
.col-sm:hover {
    border-radius: 50px;
	background-color: lightgray;
}
.col-sm {
    text-align: center;
    font-family: Courier, monospace;
    color: #c8a2c8;
    font-weight: bolder;
}
#g{
    color:black;
}
p{
    text-align: center;
    font-family: Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}

.row{
    margin-top: 40px;
}
#bor{
    font-weight: bolder;
}
#bday{
    background-color: black;
    border-radius: 10px;
}