body {
    font-family: Calibri;
    
}
a{
    text-decoration: none;
}
table {
    margin-left: 350px;
  width: 500px;
    height: 500px;
}
#s {
    color: coral;
}
table, td, tr,th {
  border: none;
border-collapse: collapse;
}
th, td {
    padding: 10px;
}
th {
  border-bottom: 1px solid #ddd;
}
b {
    color: coral;
}

td:hover {
    border-radius: 50px;
	background-color: lightgray;

}
